div {
  width: 250px;
}

/* login page */

.login-heading {
  text-align: center;
  padding-top: 15px;
}

.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.login-button {
  width: 225px;
}

/* signed in page */

.signedin-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signedin-button {
  margin: 5px 0px;
}

/* links page */

.links-div {
  width: 400px;
}

.links-text {
  padding-top: 10px;
}

.links-buttons {
  width: 400px;
  text-align: center;
  margin-bottom: 10px;
}

#classes {
  margin-bottom: 25px;
}

.class-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 0 5px;
}

#submit {
  margin-top: 10px;
}

/* add class page */

.add-class-div {
  width: 300px;
}

.add-class-return {
  margin-top: 10px;
}

/* to-do list page */

.todolist-input {
  text-align: center;
}

.todolist-add {
  margin-bottom: 5px;
}

.todolist-buttons {
  text-align: center;
  margin-bottom: 10px;
}

.task-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0;
  padding: 0px 5px;
}

/* emails page */

.emails-input {
  text-align: center;
}

.emails-add {
  margin-bottom: 5px;
}

.emails-buttons {
  text-align: center;
  margin-bottom: 10px;
}
