div {
  width: 250px;
}

/* login page */

.login-heading {
  text-align: center;
  padding-top: 15px;
}

.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.login-button {
  width: 225px;
}

/* signed in page */

.signedin-div {
  width: 350px;
}

.signedin-buttons {
  width: 350px;
  text-align: center;
}

#classes {
  margin-bottom: 25px;
}

.class-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin: 2px 0;
  padding: 0px 3px;
}

.delete-button {
  background-color: red;
  border: none;
  height: 20px;
  border-radius: 5px;
}

.copy-button {
  height: 20px;
}

#submit {
  margin-top: 10px;
}

/* to-do list page */

.todolist-input {
  margin-bottom: 15px;
  text-align: center;
}

.todolist-buttons {
  text-align: center;
}

.task-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0;
  padding: 0px 3px;
}
